@font-face {
    font-family: 'karla-bold';
    src: url(Karla/static/Karla-Bold.ttf);
}
@font-face {
    font-family: 'karla-regular';
    src: url(Karla/static/Karla-Regular.ttf);
}

h2 {
    font-family: 'karla-bold';
}
h3 {
    font-family: 'karla-bold';
}
p {
    font-family: 'karla-regular';
}
li {
    font-family: 'karla-regular';
    list-style-type: none;
}